.sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 1000;
    display: block;
    padding: 20px;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
    border-right: 1px solid #eee;

    /*Additions*/
    background-color: rgba(129, 138, 145, 1);
}

#header {
    text-align: center;
    margin-bottom: 1rem;
}

.sidebar input {
    background-color: #ccc;
}

#rooms {
    min-height: 26rem;
}

#currentPosts {
    height: 28rem;
    overflow: scroll;
}

#addPost {
    margin-top: 2rem;
}

.main {
    padding: 20px;
}

.nav-sidebar li a {
    color: #373a3c;
}
