body {
    padding-top: 54px;
}

body, html {
    height: 100%;
    color: whitesmoke;
}

.navbar {
    background-color: #373a3c !important;
}

#sidebar {
    padding: 0.4rem;
}
#sidebar .panel h4 a {
    color: rgba(0, 0, 0, 0.7);
}

#sidebar .panel a {
    color: rgba(255, 255, 255, 0.65);
}

/* workaround modal-open padding issue */
body.modal-open {
    padding-right: 0 !important;
}

#main {
    background-color: #55595c;
}

.main {
    background-color: #818a91;
    padding-top: 1rem;
}
